# Build artifacts
/build/
/build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Formatters and lsp
.clangd
.clang-format

# Binaries
*.o
*.obj
*.exe
*.out
*.app
*.a
*.so
*.dll
*.dylib
.cache/

